/* Общие стили */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(120deg, #89f7fe, #66a6ff);
  color: #333;
  line-height: 1.6;
  padding: 0;
}

h1, h2 {
  font-family: 'Arial', sans-serif;
  color: #fff;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

/* Header */
header {
  padding: 40px 20px;
  text-align: center;
  background: rgba(0, 191, 255, 0.8);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  position: relative;
}

.header-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 120px;
  margin-bottom: 20px;
  animation: logoAnimation 2s ease-in-out infinite;
}

h1 {
  font-size: 3rem;
  margin-bottom: 15px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

nav ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffde00;
}

/* Main Section */
main {
  margin: 40px auto;
  max-width: 1200px;
  padding: 0 20px;
}

/* Стили для секций */
section {
  background: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  padding: 30px;
  margin-bottom: 30px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

section:hover {
  transform: scale(1.03);
}

.section-content {
  text-align: center;
}

.section-image {
  width: 100%;
  max-width: 650px;
  margin-top: 20px;
  border-radius: 10px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

/* Кнопка */
button {
  background: #00bfff;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
  font-size: 1.2rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
  background: #0099cc;
  transform: translateY(-3px);
}

button:active {
  transform: translateY(0);
}

/* Footer */
footer {
  text-align: center;
  background-color: #00bfff;
  color: white;
  padding: 10px;
  font-size: 1rem;
  position: fixed;
  width: 100%;
  bottom: 0;
}

/* Анимация для логотипа */
@keyframes logoAnimation {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}
